<!-- Run the particles -->
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<!-- Main container -->

<div class="container">
  <div class="main-title">
    Welcome
  </div>
  <div class="actions">
    <a mat-raised-button class="actions-main" color="accent" routerLink="../aboutMe" [ngClass]="routeAnimationsElements">
      <fa-icon icon="music"></fa-icon>
      About Me
    </a>
    <a mat-raised-button class="actions-main" color="accent" routerLink="../projects" [ngClass]="routeAnimationsElements">
      <fa-icon icon="desktop"></fa-icon>
      Projects
    </a>
    <a mat-raised-button class="actions-main" color="accent" routerLink="../projects" [ngClass]="routeAnimationsElements">
      <fa-icon icon="address-card"></fa-icon>
      Resume
    </a>
  </div>

  <div class="intro" [ngClass]="routeAnimationsElements">
    <p>Welcome to my website. Feel free to take a look around!</p>
  </div>

    <!-- TODO: This needs to be clickable -->
  <div class="git-profile" [ngClass]="routeAnimationsElements">
    <div class="git-profile-wrapper">
      <a class="git-profile" href="https://github.com/MikeElias14" target="_blank">
        <img src="https://avatars0.githubusercontent.com/MikeElias14?v=4">
        <span>Michael Elias</span>
      </a>
    </div>
  </div>
</div>
