<nav mat-tab-nav-bar class="d-none d-sm-flex">
  <a mat-tab-link
     *ngFor="let project of projects"
     [routerLink]="project.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{project.label}}
  </a>
</nav>

<nav class="nav-responsive d-sm-none d-flex justify-content-center">
    <mat-select [placeholder]="SmartDots" [value]="'smartDots'">
      <mat-option *ngFor="let project of projects"
        [value]="project"
        [routerLink]="project.link">
          {{project.label}}
      </mat-option>
    </mat-select>
</nav>

<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>
