<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 rtl class="main-heading">hello world</h1>
    </div>
  </div>
  <div class="row">
    <div  class="col-md-6" [ngClass]="routeAnimationsElements">
      <p rtl>
        hello world
        <strong>Michael</strong>
        elias
      </p>
      <p rtl>
        I am
        <strong>working</strong>
        on
        creating
      </p>
    </div>
    <div rtl class="col-md-6" [ngClass]="routeAnimationsElements">
      <div class="artist">
        <h1>this</h1>
      </div>
    </div>
  </div>
</div>
